In [1]:
import json
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
d = []
for l in open('business.json').readlines():
    d.append(json.loads(l))  # from json str to dict
df = pd.DataFrame.from_records(d)

In [5]:
rev_cnt = df['review_count']
print(rev_cnt)

0           5
1         128
2         170
3           3
4           4
5           3
6           7
7           3
8           8
9           8
10          5
11         18
12          9
13         16
14          7
15          4
16          5
17         40
18         21
19         23
20         38
21          3
22        107
23         35
24          4
25        184
26          8
27         12
28         52
29         57
         ...
192579      3
192580     48
192581     20
192582      6
192583     47
192584      3
192585     39
192586      3
192587    113
192588      5
192589     22
192590     32
192591      4
192592     12
192593     15
192594      3
192595      4
192596     25
192597     15
192598    138
192599     47
192600     19
192601    441
192602     12
192603     39
192604      9
192605      3
192606     14
192607     15
192608      3
Name: review_count, Length: 192609, dtype: int64